 {% extends "main.html" %} {% load static %} {% block content %}

<div class="row">
    {% for product in products %}

    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
        <img class="thumbnail" src="{{product.imgURL}}">
        <div class="box-element product justify-content-between">
            <h6 class="product-title"><strong>{{product}}</strong>
                <hr>
            </h6>
            <button class="btn btn-outline-secondary align-self-center update-cart" data-product="{{product.id}}" data-action="add">Add to Cart</button>
            <h4 class="product-price align-self-center"><strong>${{product.price}}</strong></h4>

        </div>
    </div>


    {% endfor %}
</div>

{% endblock content %}