.background {
    background-image: url('../images/background-1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    /* background-color: hsla(0,0%,100%,0.70); */
    background-color: rgba(255, 255, 255, 0.6);
    opacity: 0.8;
}